body{
  background-color: var(--main-background-color);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
}
:root{
  --main-background-color: #0E0C15;
  --frontmain-background-color: #121825;
  --table-row-hover-color: #282727;
  --tablecell-text-color: white;
  --tablecell-positive-number-color: #67cb67;
  --tablecell-negative-number-color: red;
  --container-box-shadow: #00c0ff;
}